body {
    background-image: url("https://cdn.discordapp.com/attachments/889453414847754250/894250206202310686/bannierekaitosite.png");
    text-align: center;
    background-size: 1920px 1080px;
}

p {
    color: white;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color:yellow;
}
